<meta charset="utf-8">

{% include seo.html %}

{% unless site.atom_feed.hide %}
  <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% endunless %}

<!-- https://t.co/dKP3o1e -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<!-- <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}"> -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" id="theme_source">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" id="theme_source">
{% if site.minimal_mistakes_skin2 %}
  <link rel="stylesheet alternate" href="{{ '/assets/css/main2.css' | relative_url }}" id="theme_source_2">
  <link rel="preload" as="image" href="{{ site.author.avatar | relative_url }}">
  {% if site.author.avatar_dark %}
    <link rel="preload" as="image" href="{{ site.author.avatar_dark | relative_url }}">
  {% endif %}
  <script>
    let theme = sessionStorage.getItem('theme');
    if(theme === "dark")
    {
      document.documentElement.setAttribute('data-theme', 'dark');
      node1 = document.getElementById('theme_source');
      node2 = document.getElementById('theme_source_2');
      node1.setAttribute('rel', 'stylesheet alternate'); 
      node2.setAttribute('rel', 'stylesheet');
    }
    else
    {
      document.documentElement.setAttribute('data-theme', 'light');
    }

    function toggleTheme() {
      var node1 = document.getElementById('theme_source');
      var node2 = document.getElementById('theme_source_2');
      if(node1.getAttribute('rel') == 'stylesheet') {
        node1.setAttribute('rel', 'stylesheet alternate');
        node2.setAttribute('rel', 'stylesheet');
        sessionStorage.setItem('theme', 'dark');
        document.documentElement.setAttribute('data-theme', 'dark');
      } else {
        node2.setAttribute('rel', 'stylesheet alternate');
        node1.setAttribute('rel', 'stylesheet');
        sessionStorage.setItem('theme', 'light');
        document.documentElement.setAttribute('data-theme', 'light');
      }
    }
  </script>
{% endif %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">

<!--[if IE]>
  <style>
    /* old IE unsupported flexbox fixes */
    .greedy-nav .site-title {
      padding-right: 3em;
    }
    .greedy-nav button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
    }
  </style>
<![endif]-->

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}